html {
    background-color: black;
    text-align: center;
}

h1 {
    font-family: Verdana;
    font-weight: normal;
    font-size: 50px;
    color: white;
    text-align: center;
}

a {
    color: aquamarine;
    font-size: 16px;
    font-family: Verdana;
}

h2 {
    font-family: Verdana;
    font-weight: 300;
    font-size: 42px;
    color: white;
}

p {
    font-family: Verdana;
    font-size: 21px;
    color: gray;
}

.footer {
    text-align: right;
    color: gray;
    float: right;
}

video {
    max-width: 80%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#icon {
    padding: 20px;
}

img {
    max-width: 80%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}